{% extends 'base.html' %}
{% block head %}
		<title>Block Connection</title>
{% endblock %}
{% block block_connection %}w3-light-blue{% endblock %}
{% block body %}
	<div class="w3-card-4 w3-light-gray w3-round-large w3-section w3-mycenter-small">
		<div class="w3-container w3-round-large w3-blue w3-center">
			<h3><b>Block Connection/Container</b></h3>
		</div>
		<form class="w3-container" action="/block_connection/" method="POST">
			<div class="w3-my-col-container">
				<div class="w3-my-col">
					<input class="w3-check" type="checkbox" name="google_platform" id="block_google">
					<label for="block_google"><i class="fa fa-google fa-fw" style="font-size:24px;color:#2196f3"></i><b>Google</b></label>
				</div>
				<div class="w3-my-col">
					<input class="w3-check" type="checkbox" name="azure_platform" id="block_azure">
					<label for="block_azure"><i class="fa fa-windows fa-fw" style="font-size:24px;color:#2196f3"></i><b>Azure</b></label>
				</div>
				<div class="w3-my-col">
					<input class="w3-check" type="checkbox" name="aws_platform" id="block_aws">
					<label for="block_aws"><i class="fa fa-amazon fa-fw" style="font-size:24px;color:#2196f3"></i><b>AWS</b></label>
				</div>
			</div>
			<div class="w3-my-col-container">
				<div class="w3-my-col w3-center">
					<input class="w3-button w3-blue w3-round-large w3-hover-light-blue w3-ripple" type="submit" name="test" value="Block">
				</div>
				<div class="w3-my-col w3-center">
					<input class="w3-button w3-blue w3-round-large w3-hover-light-blue w3-ripple" type="submit" name="test" value="Unblock">
				</div>
			</div>
		</form>
	</div>
{% endblock %}
