{% extends 'base.html' %}
{% block head %}
		<title>Delete Object</title>
{% endblock %}
{% block delete_button %}w3-light-blue{% endblock %}
{% block body %}
		<h1>Delete Object</h1>
		<form action="/delete/" method="POST">
			<input type="checkbox" name="google_platform" id="check_google"><label for="check_google">Google Bucket Name: </label>
			<input type="text" name="google_bucket_name" onclick="getElementById('check_google').checked=true;"><br>
			Object Name in Google: <input type="text" name="google_object_name" onclick="getElementById('check_google').checked=true;"><br><br>
			<input type="checkbox" name="azure_platform" id="check_azure"><label for="check_azure">Azure Container Name: </label>
			<input type="text" name="azure_container_name" onclick="getElementById('check_azure').checked=true;"><br>
			Object Name in Azure: <input type="text" name="azure_object_name" onclick="getElementById('check_azure').checked=true;"><br><br>
			<input type="checkbox" name="aws_platform" id="check_aws"><label for="check_aws">AWS Bucket Name: </label>
			<input type="text" name="aws_bucket_name" onclick="getElementById('check_aws').checked=true;"><br>
			Object Name in AWS: <input type="text" name="aws_object_name" onclick="getElementById('check_aws').checked=true;"><br><br>
			<input type="submit" value="Delete">
		</form>
		{% if status %}
		<p>
			{% if google %}
			{{ google|safe }}
			{% endif %}
			{% if azure %}
			{{ azure|safe }}
			{% endif %}
			{% if aws %}
			{{ aws|safe }}
			{% endif %}
		</p>
		{% endif %}
{% endblock %}
