{% extends 'base.html' %}
{% block head %}
		<title>Download Object</title>
		<script type="text/javascript">
			function DownloadFile() {
				// get inputs
				var platform_list = document.getElementsByName("platform");
				for (var i = 0; i < platform_list.length; i++) {
					if (platform_list[i].checked) {
						var platform = platform_list[i].value;
						break;
					}
				}
				var file_source_bucket = document.getElementsByName("file_source_bucket")[0].value;
				var download_file = document.getElementsByName("download_file")[0].value;
				var password = document.getElementById("input_password").value;
				// download controller
				var FileController = "/download/";
				// FormData
				var form = new FormData();
				form.append("platform", platform);
				form.append("file_source_bucket", file_source_bucket);
				form.append("download_file", download_file);
				form.append("input_password", password);
				// XMLHttpRequest
				var xhr = new XMLHttpRequest();
				xhr.open("post", FileController, true);
				xhr.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						information.innerHTML = this.responseText;
						var link = "/download_files/" + download_file;
						download(link, download_file);
					}
					else {
						information.innerHTML = "Running...";
					}
				}
				xhr.send(form);
			}
			function download(name, download_name) {
				var element = document.createElement("a");
				element.style.display = 'none';
				document.body.appendChild(element);
				element.setAttribute("href", name);
				element.setAttribute("download", download_name);
				element.click();
				document.body.removeChild(element);
			}
			function check_checkbox(checkbox) {
				if (checkbox.checked) {
					checkbox.checked = false;
				}
				else {
					checkbox.checked = true;
				}
			}
		</script>
{% endblock %}
{% block download_button %}w3-light-blue{% endblock %}
{% block body %}
		<h1>Download</h1>
		<div class="w3-container">
			<table class="w3-table-all w3-card-4">
				<thead>
					<tr class="w3-blue">
						<th></th>
						<th>Object</th>
						<th>Bucket/Container</th>
						<th>Platform</th>
					</tr>
				</thead>
				<tbody>
					{% if google == 0 %}
					<tr class="w3-hover-light-blue">
						<td colspan="4">No Objects!</td>
					</tr>
					{% else %}
						{{ google|safe }}
						{{ azure|safe }}
						{{ aws|safe }}
					{% endif %}
				</tbody>
			</div>
		</div>

		<input type="radio" name="platform" id="check_google" value="Google" checked><label for="check_google">Google Cloud Storage</label><br>
		<input type="radio" name="platform" id="check_azure" value="Azure"><label for="check_azure">Microsoft Azure</label><br>
		<input type="radio" name="platform" id="check_aws" value="AWS"><label for="check_aws">Amazon S3</label><br>
		Bucket/Container Name: <input type="text" name="file_source_bucket"><br>
		Download Object Name: <input type="text" name="download_file"><br>
		Password for Decryption: <input type="password" id="input_password"><br>
		<input type="button" onclick="DownloadFile();" value="Download"><br><br>
		<div id="information"></div>
{% endblock %}
