{% extends 'base.html' %}
{% block head %}
		<title>Download Object</title>
		<script type="text/javascript">
			function DownloadFile() {
				// get checked objects' information
				var checkboxes = document.getElementById("object_table").getElementsByTagName("input");
				var platform = [];
				var file_source_bucket = [];
				var download_file = [];
				var status_tags = document.getElementsByName("statusTag");
				for (var i = 0; i < status_tags.length; i++) {
					status_tags[i].innerHTML = "";
				}
				for (var i = 0; i < checkboxes.length; i++) {
					if (checkboxes[i].type == "checkbox" && checkboxes[i].checked && checkboxes[i].name != "check_all") {
						platform.push(checkboxes[i].name);
						file_source_bucket.push(checkboxes[i].value);
						download_file.push(checkboxes[i].id);
					}
				}
				var password = document.getElementById("input_password").value;
				// download controller
				var FileController = "/download/";
				// FormData
				var form = new FormData();
				for (var i = 0; i < platform.length; i++) {
					form.append("platform[]", platform[i]);
					form.append("file_source_bucket[]", file_source_bucket[i]);
					form.append("download_file[]", download_file[i]);
				}
				form.append("input_password", password);
				for (var i = 0; i < platform.length; i++) {
					document.getElementById(file_source_bucket[i] + "_" + download_file[i] + "_" + platform[i]).innerHTML = "<i class='fa fa-refresh fa-spin' style='font-size:24px'></i>";
				}
				// XMLHttpRequest
				var xhr = new XMLHttpRequest();
				xhr.open("post", FileController, true);
				xhr.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						eval(this.responseText)
					}
				}
				xhr.send(form);
			}
			function download() {
				var element = document.createElement("a");
				element.style.display = 'none';
				document.body.appendChild(element);
				element.setAttribute("href", "/download_files");
				element.setAttribute("download", "DownloadedFiles.zip");
				element.click();
				document.body.removeChild(element);
			}
			function check_checkbox(checkbox) {
				if (checkbox.checked) {
					checkbox.checked = false;
				}
				else {
					checkbox.checked = true;
				}
			}
			function check_all_boxes(checkbox) {
				var checkboxes = document.getElementById("object_table").getElementsByTagName("input");
				for (var i = 0; i < checkboxes.length; i++) {
					checkboxes[i].checked = checkbox.checked;
				}
			}
		</script>
{% endblock %}
{% block download_button %}w3-light-blue{% endblock %}
{% block body %}
		<h1>Download</h1>
		<div class="w3-container">
			<table class="w3-table-all w3-card-4" id="object_table">
				<thead>
					<tr class="w3-blue">
						{% if google == 0 %}<th></th>{% else %}<th><input class="w3-check" type="checkbox" name="check_all" value="all_check" onclick="check_all_boxes(this);"></th>{% endif %}
						<th>Object</th>
						<th>Bucket/Container</th>
						<th>Platform</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% if google == 0 %}
					<tr class="w3-hover-light-blue">
						<td></td>
						<td>No Objects!</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					{% else %}
						{{ google|safe }}
						{{ azure|safe }}
						{{ aws|safe }}
					{% endif %}
				</tbody>
			</table>
		</div>
		Password for Decryption: <input type="password" id="input_password"><br>
		<input type="button" onclick="DownloadFile();" value="Download"><br><br>
{% endblock %}
