{% extends 'base.html' %}
{% block head %}
		<title>UploadAjax</title>
		<script type="text/javascript">
			function InsertInput(checkbox) {
				if (checkbox.checked) {
					var input = document.createElement("input");
					input.type = "password";
					input.id = "input_password";
					var div = document.createElement("div");
					div.id = "input_password_text";
					div.innerHTML = "Password for Encryption: ";
					document.getElementById("dynamic_input").appendChild(div);
					document.getElementById("dynamic_input").appendChild(input);
				}
				else {
					document.getElementById("input_password_text").remove();
					document.getElementById("input_password").remove();
				}
			}
			function UploadFile() {
				// get bucket/container name
				var g_bucket = document.getElementsByName("google_upload_bucket")[0].value;
				var a_container = document.getElementsByName("azure_upload_container")[0].value;
				var a_bucket = document.getElementsByName("aws_upload_bucket")[0].value;
				// get file element
				var fileObj = document.getElementById("file_path").files[0];
				var check = document.getElementsByName("encryption_check")[0];
				if (check.checked) {
					var check_encrypt = "on";
				}
				else {
					var check_encrypt = "None";
				}
				if (check_encrypt == "on") {
					var password = document.getElementById("input_password").value;
				}
				// upload controller
				var FileController = "/upload/";
				// FormData
				var form = new FormData();
				form.append("google_upload_bucket", g_bucket);
				form.append("azure_upload_container", a_container);
				form.append("aws_upload_bucket", a_bucket);
				form.append("file_path", fileObj);
				form.append("encryption_check", check_encrypt);
				form.append("input_password", password);
				// XMLHttpRequest
				var xhr = new XMLHttpRequest();
				xhr.open("post", FileController, true);
				xhr.onload = function () {
					// return messages
					if (check_encrypt == "on") {
						var links = ["/download_keys/private/", "/download_keys/public/"];
						var download_names = ["rsa_private_key.bin", "rsa_public_key.pem"];
						download(links, download_names);
					}
        };
				xhr.upload.addEventListener("progress", progressFunction, false);
				xhr.send(form);
			}
			function download(name, download_name) {
				var element = document.createElement("a");
				element.style.display = 'none';
				document.body.appendChild(element);
				for (var i = 0; i < name.length; i++) {
					element.setAttribute("href", name[i]);
					element.setAttribute("download", download_name[i]);
					element.click();
				}
				document.body.removeChild(element);
			}
			function progressFunction(evt) {
				var progressBar = document.getElementById("progressBar");
				var percentageDiv = document.getElementById("percentage");
				if (evt.lengthComputable) {
					progressBar.max = evt.total;
					progressBar.value = evt.loaded;
					percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%";
				}
			}
		</script>
{% endblock %}
{% block upload_button %}w3-light-blue{% endblock %}
{% block body %}
		<h1>Upload</h1>
		Google Bucket:<br>
		<input type="text" name="google_upload_bucket"><br>
		Azure Container:<br>
		<input type="text" name="azure_upload_container"><br>
		AWS Bucket:<br>
		<input type="text" name="aws_upload_bucket"><br>
		Select File:<br>
		<input type="file" id="file_path"><br>
		<input type="checkbox" name="encryption_check" id="if_encryption" onclick="InsertInput(this);" checked><label for="if_encryption">Encrypt</label>
		<div id="dynamic_input"></div>
		<script type="text/javascript">
			InsertInput(document.getElementById("if_encryption"));
		</script>
		<br><br>
		<input type="button" onclick="UploadFile();" value="Upload">
		<progress id="progressBar" value="0" max="100"></progress>
		<span id="percentage"></span>
{% endblock %}
